<div class="user rounded-md justify-self-stretch flex flex-col p-2 h-full">
  <div class="bg-white/7 p-4 text-white flex items-center justify-between">
    <h4 class="text-2xl font-bold">
      {{t "chart.title"}}
    </h4>
    <div class="controls grid items-center justify-items-center">
      <div class="language text-center flex flex-col">
        <label class="sr-only" for="lang-select">
          {{t "chart.language.title"}}
        </label>
        <div class="inline-block relative w-64">
          <Select
            id="lang-select"
            class="block w-full"
            {{on "change" this.updateLang}}
            as |s|
          >
            <s.Option value="user" selected={{eq this.lang "user"}}>
              {{t "chart.language.user"}}
            </s.Option>
            <s.Option value="english" selected={{eq this.lang "english"}}>
              {{t "chart.language.english"}}
            </s.Option>
            <s.Option value="romaji" selected={{eq this.lang "romaji"}}>
              {{t "chart.language.romaji"}}
            </s.Option>
            <s.Option value="native" selected={{eq this.lang "native"}}>
              {{t "chart.language.native"}}
            </s.Option>
          </Select>
        </div>
      </div>
    </div>
    <Button type="button" {{on "click" this.refresh}}>
      <TemplateIcon @icon="arrows-rotate" @fixedWidth={{true}} />
    </Button>
  </div>
  <div class="bg-white/5 flex flex-col items-center justify-center flex-grow p-0.5">
    <Loading @loading={{this.loading}}>
      {{#if this.error}}
        <div class="flex flex-col justify-center items-center bg-clip-content">
          {{#each this.messages as |m|}}
            <p class="text-center text-gray-100 text-sm m-2">
              {{m.message}}
            </p>
          {{/each}}
          {{#if (eq this.error "DateRange")}}
            <a class="text-main-500 text-sm" href={{this.user.url}} target="_blank" rel="noopener noreferrer">
              {{t "messages.anilist_instructions"}}
            </a>
          {{/if}}
        </div>
      {{else}}
        <Chart
          @list={{@model.userData.list}}
          @lang={{this.lang}}
        />
      {{/if}}
    </Loading>
  </div>
</div>